.card {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    width: 100%;
    max-width: 210px;
    padding: 30px;
    transition: .3s linear;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
        transform: translateY(-5px);
    }

    .favorite {
        position: absolute;
        left: 30px;
        cursor: pointer;
    }

    p {
        font-size: 14px; 
        margin: 14px 0;
    }

    .cardBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        button {
            box-sizing: border-box;
            border-radius: 8px;
            width: 32px;
            height: 32px;
        }
    }
}