.header {
    display: flex;
    justify-content: space-between;
    padding: 45px;
    border-bottom: 1px solid #EAEAEA;

    .headerLeft {
        display: flex;
        justify-content: space-between;

        img {
            margin-right: 16px;
        }
    }

    .headerInfo {
        h3 {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
        }

        p {
            font-size: 14px;
            line-height: 17px;
            color: #9D9D9D;
        }
    }

    .headerRight {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            display: flex;
            align-items: center;

            span {
                margin-left: 10px;
                margin-right: 30px;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #5C5C5C;
            }
        }
    }
}