// Helpers
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
  background: transparent;
  border: none;
}

  ul {
    margin: 0;
    padding: 0;
  }

li {
    list-style-type: none;
}

body {
    background-color: #e7f6ff;
}

body,
button,
input {
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

.w100p {
    width: 100%;
  }
  
  .h100p {
    height: 100%;
  }
  
  .d-ib {
    display: inline-block;
  }
  
  .d-if {
    display: inline-flex;
  }
  
  .d-block {
    display: block;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-start {
    align-items: flex-start;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-auto {
    flex: 1 1 auto;
  }
  
  .flex {
    flex: 1;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .m-auto {
    margin: auto;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .mr-auto {
    margin-right: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-capitalize {
    text-transform: capitalize;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-lowercase {
    text-transform: lowercase;
  }
  
  .fw-bold {
    font-weight: bold;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .mr-20 {
    margin-right: 20px;
  }
  
  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .pos-r {
    position: relative;
  }
  
  .pos-a {
    position: absolute;
  }
  
  .cu-p {
    cursor: pointer;
  }

.wrapper {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
}

.content {
    padding: 50px;
}

.cardWrapper {
    display: grid;
    grid-template-columns: repeat(4, 210px);
    grid-gap: 40px;
}

.searchBlock {
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 0 15px;

    input {
        border: 0;
        padding: 13px 5px;
        font-size: 14px;
    }
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0.4);
    z-index: 5;
}

.drawer {
    position: absolute;
    width: 385px;
    height: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: -10px 4px 24px rgba( 0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;

    .drawerHeader {
        margin-bottom: 30px;

        h2 {
            font-size: 24px;
        }
    }

    .cartTotalBlock {
        li {
            display: flex;
            align-items: flex-end;
            margin-bottom: 10px;
        }

        div {
            flex: 1;
            height: 1px;
            position: relative;
            top: -4px;
            margin: 0 4px;
            border-bottom: 1px dashed #dfdfdf;
        }

        button {
            width: 100%;
            background: #9DD558;
            border-radius: 18px;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            border: none;
            outline: none;
            padding: 18px;
            text-align: center;
            margin-top: 30px;
            transition: 0.2 linear;

            &:hover {
                background: lighten(#9DD558, 5%);
            }
        }
    }

    .items {
        flex: 1;
        overflow: auto;
        margin-bottom: 30px;
    }

    .cartItem {
        padding: 30px 20px;
        border: 1px solid #f3f3f3;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 20px;

        .cartItemImg {
            height: 70px;
            width: 70px;
            background-size: contain;
            background-position: -3px 0;
            background-repeat: no-repeat;
        }

        p,b {
            font-size: 14px;
        }

        .removeBtn {
            opacity: 0.5;
            transition: .2s linear;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }
}
